li, p {
	line-height: 1.5;
	color: #6E72A5;
	/* font-family: "Helvetica"; */
}

a[href] {
	text-decoration:none;
	color: #CCFFFF;
}

h1, h2, h3, h4, h5, h6 {
	color: #00A1AC;
        font-family: "Helvetica", sans-serif;
}

.imgmargin {
	margin-left:10px;
	margin-right:10px;
}

body {
	background-color: #181818;
        margin: auto;
        max-width: 60em;
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 20px

}
ul {
  list-style-type: square;
  font-family: monospace;
}

ol {
  list-style-type: upper-roman;
}

code, samp, kbd,var, pre {
  font-family: monospace;
  color: Gray;
}
